
<nav>
  <ul class="nav-menu">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Food', foods_path %></li>
    <li><%= link_to 'Recipe', recipes_path %></li>
    <li><%= link_to 'Shopping_list', shopping_list_index_path %></li>
    <li><%= link_to 'Public_recipe', public_recipes_path %></li>
  </ul>
</nav>
