<div class="nav-main">
      <div class="nav1">
      <h3>RECIPE APP</h3>
      </div>

      <div class="nav2">
      <nav>
  <ul class="nav-menu">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    <li><%= link_to 'Food', foods_path %></li>
    <li><%= link_to 'Recipe', recipes_path %></li>
    <li><%= link_to 'Ingredient', ingredients_path %></li>
    <li><%= link_to 'Shopping_list', shopping_list_index_path %></li>
    <li><%= link_to 'Public_recipe', public_recipes_path %></li>
  </ul>
</nav>
      </div>
</div>

