<div class="recipes-page">
  <div class="recipes-page-top">
    <h1>My Recipes</h1>
    <div class="btn-add">
    <%= link_to "+ ADD RECIPE", new_recipe_path %>
    </div>
  </div>
  <div class="recipes-list">
  <% if @recipes.empty? %>
    <h3>No recipes found</h3>
  <% else %>
    <% @recipes.each do |recipe| %>
      <div class="recipe">
        <div class="recipe-left">
          <h3><%= recipe.name %></h3>
          <% if can?(:destroy, recipe) %>
            <%= form_with(model: recipe, method: :delete, url: recipe_path(recipe)) do |form| %>
              <%= link_to 'Remove', recipe_path, class: 'delete-recipe-btn' %>
            <% end %>
          <% end %>
        </div>
        <p><%= recipe.description %></p>
      </div>
    <% end %>
  <% end %>
</div>
</div>
