<h1>New Ingredient</h1>

<%= form_with model: @ingredient, url: ingredients_path, method: :post do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div>
    <%= form.label :measurement_unit %>
    <%= form.text_field :measurement_unit %>
  </div>

  <div>
    <%= form.submit 'Save' %>
  </div>
<% end %>