<!DOCTYPE html>
<html>
<head>
  <title>Recipe App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'foods', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'recipes', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'ingredients', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'shopping-list', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
</head>
<body>
  <header>
  <%= link_to root_path do %>
    <h1 class="logo">RECIPE APP</h1>
  <% end %>
  <% if current_user %>
    <nav>
      <%= link_to 'MY FOODS', foods_path %>
      <%= link_to 'MY RECIPES', recipes_path %>
      <%= link_to 'PUBLIC RECIPES', public_recipes_path %>
      <%= link_to 'SHOPPING LIST', shopping_list_index_path %>
      <% if user_signed_in? %>
        <a href="<%= destroy_user_session_path %>" data-method="delete">SIGN OUT</a>
      <% end %>
    </nav>
  <% end %>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
    <!-- Footer content -->
  </footer>
</body>
</html>